body{
    height:100vh;
    margin:0;
    background-color: rgb(233, 113, 34);
    color:white;
    font-family: 'Raleway', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    overflow: hidden;
}

#nameDiv{
    animation-name: fadeOut;
    animation-duration: 250ms;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.nameBox{
    height:2.3vh;
    width:100vw;

    background-color: transparent;

    display: flex;
    justify-content: center;
    align-items: center;

    margin: 1px;
}

input{
    background-color: rgb(252, 252, 252);
    width:17vw;
    height:100%;

    font-size: 100%;

    text-align: center;
    color:rgb(80, 80, 80);

    border-width: 0px;
    border-color: transparent;
    border-radius: 17vh;

    animation-name: fadeOut;
    animation-duration: 250ms;
}

input:focus {
    width:20vw;
    animation-name: fadeIn;
    animation-duration: 250ms;
}

button.smallBtn {
    background-color: rgb(255, 255, 255);
    width:5vw;
    height:3vh;

    animation-name: fadeOutSmall;
    animation-duration: 250ms;

}

button.smallBtn:hover{
    width:7vw;
    animation-name: fadeInSmall;
    animation-duration: 250ms;
}

button{
    background: rgb(252, 252, 252);
    height:3.3vh;
    width:17vw;

    font-size: 1.4vh;

    box-shadow: 0;

    animation-name: fadeOut;
    animation-duration: 250ms;

    border-color: transparent;
    border-radius: 17vw;
}

button:disabled{
    color:rgb(0, 0, 0);
}

button:hover{
    animation-name: fadeIn;
    animation-duration: 250ms;
    width:20vw;
}

@keyframes fadeInSmall {
    from{
        width:5vw;
    }
    to{
        width:7vw;
    }
}

@keyframes fadeOutSmall {
    from{
        width:7vw;
    }
    to{
        width:5vw;
    }
}

@keyframes fadeIn {
    from{
        width:17vw;
    }
    to{
        width:20vw;
    }
}

@keyframes fadeOut {
    from{
        width:20vw;
    }
    to{
        width:17vw;
    }
}

#appTitle{
    font-size: 4vh;
    letter-spacing: 20px;
    color:rgb(252, 252, 252);
}

#welcomeScreen{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}